@model IEnumerable<TeamEVotingWebSite.Models.CreateCandidateVM>

@{
    ViewBag.Title = "Index of Candidates";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Candidate ID
        </th>
        <th>
            Candidate firstname
        </th>
        <th>
            Candidate lastname
        </th>
        <th>
            Candidate age
        </th>
        <th>
            Number of Votes
        </th>
        <th>
            Region ID
        </th>
        <th>
            Region name
        </th>
        <th>
            Faction ID
        </th>
        <th>
            Faction name
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Candidate_Id
        </td>
        <td>
            @item.Candidate_FirstName
        </td>
        <td>
            @item.Candidate_LastName
        </td>
        <td>
            @item.Candidate_Age
        </td>
        <td>
            @item.NumberOfVotes
        </td>
        <td>
            @item.Region_Id
        </td>
        <td>
            @item.Region_Name
        </td>
        <td>
            @item.Faction_Id
        </td>
        <td>
            @item.Faction_Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Candidate_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Candidate_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Candidate_Id })
        </td>
    </tr>
}

</table>
